/*-------- Start New International CSS --------*/

.int-faq-btn {margin-right:10px!important; border-radius:4px!important;}
.int-faq-visa-btn {border-radius:4px!important;}
.visitor-span{display:block;font-size:14px;}
.d-one{display:none;}
#livechat-eye-catcher-img{display:none !important;}
.zopim{display:none;}
.cuet {
	text-align: center;
	background-image: linear-gradient(to right bottom, #ffa84f, #ffa345, #ff9d3a, #ff982f, #ff9223);
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 10px !important;
	line-height: 20px;
	margin-bottom: 30px;
}

.cuet a {
	color: #101010;
	font-weight: 700;
	display: block;
}

.cuet span {
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	color: #fff;
}
@media (max-width:479px) {
	.int-faq-visa-btn {margin-top:10px;}
}


/*-------- End New International CSS --------*/